extends '/../layouts/atiora'

block content
	section(id='about', class='section')
		.container.contentViewport
			.row.content-entry.text-justify
				h2 Who we are
				hr.blue
				p
					img.alignright.size-full.wp-image-130(src='http://atiora.com/wp-content/themes/blain/images/pamm/investor.jpg', alt='mini-rost', width='540')
				p
					strong Atiora
					|  is a Forex broker company specializing in providing reliable and competitive services on the Foreign Exchange Market to clients worldwide. Team of experts of the company consists of professionals with the long-term experience and successful project implementation.
				p
					| Being a Pure ECN/STP Forex Brokerage allows us to bring the best pricing and liquidity to our clients. As a result we can be considered a discount Forex brokerage because we are bringing you very competitive spreads and lowest commissions in the industry, ensuring greater profitability of your trading.
				p
					| Established in 2015, Atiora brings into Forex trading, the world’s largest, the most dynamic and popular market, sound brokerage experience and cutting-edge trading technology.
				p
					| Customers from all over the world successfully use services of the Company. Atiora is well represented in Asia, CIS countries, in the Middle and Far East as well as on the African continent.
				p
					| We have direct ECN and exchange liquidity among others. We are highly rated among scalpers and traders using Expert Advisors and algorithmic trading systems. We call our clients Smart Traders.
				p
					| The company successfully introduces “
					strong
						a(href='http://atiora.com/atiora-reward/', target='_blank') Atiora Reward
					| ” and wide range of contests to all our customers. We implement insurance programs for trader’s capital, propose the wide-range of choice of the accounts and ensure the most efficient service on trading operations.
				p
					| Perfectly formed trading conditions make it possible to feel comfortable both for beginners and professional traders.
				h2 Company Profile
				hr.blue
				p  
				p
					img.alignleft.size-full.wp-image-130(src='http://atiora.com/wp-content/themes/blain/images/pamm/manager.jpg', alt='mini-rost', width='540')
				p
					| Founded in 2015, Atiora is a licensed and regulated online Broker-Dealer specialising in Forex (FX) and CFDs (Contracts for Difference).
				p
					| We are registered by the Financial Services Commission under the Securities and Investment Business Act, 2015. Atiora Ltd. .
				p
					| The primary function of Atiora Markets Ltd. is to provide good, quality services to customers in fienld of consultansy and providing information about Forex trading.
				p  
				p(style='margin-bottom:8.4em;')
				h2 Our Mission
				hr.blue
				p  
				blockquote
					p
						i.icon.icon-quote-left
						|  Mission of Atiora Company is to provide to each client fastest access to interbank and fair order execution without worries about requotes and slippage.
				p  
				h2 Setting the Standard
				p  
				p
					| Atiora has positioned itself as a leading provider of online trading services, offering traders access to the deepest pools of liquidity in the world’s largest market – the foreign exchange (FX) market. We provide first-class execution services to retail and institutional clients alike at very tight spreads in different markets including Forex, Metals, Equity Indices, Energy, and more.
				p  
				h2 Liquidity Management
				hr.blue
				p  
				p
					| Atiora provides liquidity from some of the world’s leading banks, resulting in a no-conflict trading experience for clients. By offering straight-through-processing (STP) of clients’ orders to unique pools of liquidity, we are able to deliver tight spreads to our clients, with many pairs less than 0.1 pip wide. In addition to tight spreads, we offer guaranteed fills and instant executions. Traders can access more than 
					a(href='http://atiora.com/trade/trading-instruments/', target='_blank') 60 currency pairs, metals, and CFDs
					|  24 hours per day with no requotes.
				p  
				h2 Trading Platforms
				hr.blue
				p  
				p
					| Atiora offers multiple trading platforms including 
					em
						strong
							a(href='http://atiora.com/trade/trading-platform/', target='_blank') MetaTrader 4
					| , the world’s most popular Forex trading software. MT4 allows traders to program Expert Advisors that automatically place buy and sell orders directly on Atiora’s MT4 trading software.
				p
					| Atiora also offers popular mobile trading solutions including iOS Trader, Android Trader, WindowsPhone Trader. Also Atiora offers client to use WebTrader which you don`t need to download.
				p
					| For investor and Money Managers Atiora offer to user our 
					a(href='http://atiora.com/copy-invest/mam-system/', target='_blank') PAMM Trader
					| .

