extends ../layouts/atiora

block content
	section(id='sec-1', class='section')
		.container.contentViewport
			.row
				.col-md-5.col-sm-12.col-xs-12.hidden-xs
					table(class='table-responsive')
						tbody
							tr
								th.n_border
								th.blue(style='vertical-align: middle;') MICRO
								th.purple CLASSIC
								th.blue PRO
							tr
								td
									span Min deposit
								td $1
								td $50
								td $1000
							tr
								td
									span Leverage
								td 1:1000
								td 1:500
								td 1:100
							tr
								td
									span Spread from
								td
									span 3.0 pips
								td
									span 0.8 pips
								td 0.01 pips
							tr
								td
									span Commission
								td $0
								td $0
								td
									span $10 per lot
							tr
								td
									span Instruments
								td(colspan='3')
									span 96+ FX pairs, CFDs, metals, commodities
							tr
								td
									span Execution
								td STP
								td STP
								td STP
							tr
								td
									span Minimal Lot
								td 0.01
								td 0.01
								td 0.1
							tr
								td.n_border
								td.open-account_1st
									a.like-link(href='http://my.atiora.com/main/register')
										span
											| Open
											br
											|  account
								td.open-account
									a.like-link(href='http://my.atiora.com/main/register')
										span Open account
								td.open-account
									a.like-link(href='http://my.atiora.com/main/register')
										span Open account
				.col-md-1.hidden-sm.hidden-xs(style='text-align:center')
					img(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAEsBAMAAAAInj8RAAAAFVBMVEUAAAD///////////////////////9Iz20EAAAAB3RSTlMAQexMTeE0sxXWQQAAAEpJREFUOMtjYGBWZGCgNslCFzNZqG0yYRsHQTgMfpJq8TII0h7OtEHddDWM0g8LMnuIpD0WCDmkwp8WuYOF7uZQ7gbK7WUMY2AAAMX3KoL1iaj0AAAAAElFTkSuQmCC')
				.col-md-6.col-sm-12.col-xs-12
	#sec-stats.section
		.container
			.row
				ul#statsList
					li.first-child
						span.lrgTxt $1
						span Minimum deposit
					li
						span.lrgTxt
							| 0.02
							br
							span pips
						span Floating spread from
					li
						span.lrgTxt
							| 0.01
							br
							span lot
						span Minimum volume
					li
						span.lrgTxt
							| 0.1
							br
							span sec
						span Trade execution from under
					li
						span.lrgTxt
							| ECN
							br
							span broker
					li.last-child
						span.lrgTxt 1:1000
						span Trade execution from under
			// /row
		// /container
	section
		.container.space-32
			h1 Fair ECN Forex broker ATIORA
			hr.blue
			| Atiora company offers customers on-line trading services on international Forex market. At the disposal of our customers’ trade more than 
			a(title='Forex trading instruments', href='http://atiora.com/ms/trade/trading-instruments/') 84 currency pairs, CFD, indexes, stocks and commodities
			| .
			p
			p
				strong ATIORA
				|  is registered broker. Atiora Ltd. Registered in St.Vincent and Grenadines under the number 
				a(href='http://atiora.com/en/company/regulations/') 22938
				| .
			p
				| Each client will find its ATIORA – from 
				a(title='ECN forex trading', href='http://atiora.com/en/trade/account-types/') day-trading
				| , 
				a(href='http://atiora.com/en/copy-invest/mam-system/') PAMM system
				|  and 
				a(title='forex copy system mql5', href='http://atiora.com/en/copy-invest/mql5/') Forex copy System
				|  to our unique Service for Investors 
				a(title='Atiora ProC-Trading', href='http://atiora.com/en/copy-invest/proc-trading/') “ProC-Trading”
				| . We use only the most modern solutions in the Forex market and offer to trader and investors the most advanced and stable ECN trading. No requotes, delays and glitches – all absolutely transparent and fairly!
	section.tab-section
		.container
			.row.space-32
				#main_page_tabs.col-md-12
					ul.nav.nav-tabs
						li.active
							a(data-toggle='tab', href='#pamm') PAMM managers ratings
						li
							a(data-toggle='tab', href='#mql5') MQL5 signals
						li
							a(data-toggle='tab', href='#kopir') MyDigitrade CopyFX
						li
							a(data-toggle='tab', href='#kalend') Economic Calendar
					.tab-content.col-xs-12
						#pamm.tab-pane.fade.in.active(style='')
							iframe(src='https://my.atiora.com/en/main/pamm_rating_atioraWP?lt=1', width='100%', height='480', frameborder='1')
						#mql5.tab-pane.fade(style='')
							iframe(src='https://www.mql5.com/en/signals/widget/showcase/1tvu', width='100%', height='480', frameborder='1')
						#kopir.tab-pane.fade(style='')
							script(type='text/javascript', src='https://my.digitrade.pro/client/widget.js')
							script(type='text/javascript').
								new TRADE_WIDGET(1, "my.digitrade.pro", {"theme":"white","language":"en","wl":1});
							iframe(src='http://my.digitrade.pro/widget.html#/ratingTabs?wl=1&language=en&theme=white', frameborder='0', width='100%', height='485px', marginwidth='0', marginheight='0')
						#kalend.tab-pane.fade(style='')
							iframe(frameborder='0', scrolling='auto', height='480', width='100%', allowtransparency='true', src='https://sslecal.forexprostools.com/e_cal.php?force_lang=en', align='center')
					// tab-content col-xs-12
				// col-md-12
	section.space-32
		.container
			h2 What is Forex?
			hr.blue
			p
				| Forex – the international currency market where one currency is traded for another. The principle of operation at Forex market is similar with any other market: buy cheap and sell expensive. But not products buying and selling here, the currency – the euro (EUR), US dollar (USD), Pound (GBP), the yen (JPY) and others. Sale by one FX rate and buy by another- the difference between the rates converted into profits, which is produced by the participants of the Forex market – banks, investors and speculators.
			p
				| In the present day market Forex – is a unified network of interconnected banks and brokers, which has no specific geographical locations and time constraints of trade – trading begins Monday morning in New Zealand and closes on Friday night in the United States. Trader in the currency market could be anyone, regardless of its location and the level of knowledge as to start Forex trading requires only access to the Internet.
			p
				| Get practical skills in the market and test your own trading strategies can 
				a(title='open forex demo account', href='http://atiora.com/demo-download/') open a demo account 
				|  with 
				b ATIORA
				| , which does not require any of own funds – the company ATIORA provide such account to you within 30 seconds!
	section.trading-promo
		.container
			.trading-promo-actions.col-md-10.n_float
				.promo-item.promo-item-contest.col-sm-4
					a.promo-item-action(href='/contests/')
						span.promo-item-action-helper
							strong Register, trade and win!
							i
								| Atiora 
								strong contests
							em $20,000 prize for trading at demo and real accounts profitably
				.promo-item.promo-item-bonus.col-sm-4
					a.promo-item-action(href='/atiora-reward/')
						span.promo-item-action-helper
							strong Join Atiora Reward Program!*
							i
								strong Atiora Reward Program
							em *Terms and conditions apply
				.promo-item.promo-item-cash.col-sm-4
					a.promo-item-action(href='/trade/deposit-withdrawal/')
						span.promo-item-action-helper
							strong Deposit your account!
							img(src='http://atiora.com/wp-content/themes/blain/images/payments/visa-mc-wire.png', alt='Visa, MasterCard, Bank transfer')
							em No commission
	section
		.container.space-32
			h2 ECN trading – a new wave of Forex!
			hr.blue
			p
				| ECN-Broker earns only on commission from the transaction, which was carried out by you. Thus, ATIORA company is interested in the success of your trading and give you everything you need to make sure that trading is easy, laid-back, but at 100% profitable.
			p
				strong ECN-Broker
				|  brings each FX order to prime bank, where broker find the best quotes for you. Closing and opening position can occur at various counterparties, they are sufficient, as well as liquidity, so the problems with requotes does not arise, it is also one of the advantages of ECN trading with 
				strong
					u ATIORA Forex broker 
				| .
			p
				| Certain 
				strong ECN-Brokers
				|  allows traders to choose their own contractor, regardless of what his quote at the moment – for better or worse. We do not have fixed spreads – just floating 5-digit quotations that we receive directly from prime banks.
			p
				| Based on the above information provided by each trader decides for himself through whom to trade on the basis of their financial capabilities and nuances of a trading strategy. Bu it is clear that 
				i ECN-Broker ATIORA
				|  is the next step in the organization a clearer trade in Forex market.	
	section
		.container.space-32
			.row
				.col-md-6
				.col-md-6
	section.get-started
		.container.space-32
			h2 Let’s Get Started
			ul
				li
					i.fa.fa-users
					br
					h3 Open account
					p.text-justify
						| If you satisfied with Atiora ECN trading conditions you may start right now by opening Forex trading account or try Demo account for free.
					p
						a.btn-default(href='https://my.atiora.com/en/user/index', target='_top') Open account
				li
					i.fa.fa-tablet
					br
					h3 Choose a platform
					p.text-justify
						| Atiora is pleasured to provide to you wide range of trading platform. Feel free to choose appropriate one!
					.icons-list
				li
					i.fa.fa-bar-chart
					br
					h3 Deposit Funds
					p.text-justify
						| You may choose any from wide range of electronic payment system or deposit directly to our bank account or transfer funds from your card.
					p
						a.btn-default(href='http://atiora.com/trade/deposit-withdrawal/', target='_top') Deposit funds
	

