extends ../../layouts/atiora

block content
	#top-line.widget-area(role='complementary')
		.sibebar-wrapper.container
			ul
				li.page_item.page-item-110.current_page_item
					a(href='http://atiora.com/en/trade/account-types/') Account types
				li.page_item.page-item-223
					a(href='http://atiora.com/en/trade/deposit-withdrawal/') Deposit / Withdrawal
				li.page_item.page-item-356
					a(href='http://atiora.com/en/trade/ecn-trading/') ECN trading
				li.page_item.page-item-225
					a(href='http://atiora.com/en/trade/funds-security/') Funds Security
				li.page_item.page-item-227
					a(href='http://atiora.com/en/trade/islamic-account/') Islamic account
				li.page_item.page-item-230
					a(href='http://atiora.com/en/trade/oneclick-execution/') One-Click Execution
				li.page_item.page-item-105
					a(href='http://atiora.com/en/trade/trading-instruments/') Trading Instruments
				li.page_item.page-item-166
					a(href='http://atiora.com/en/trade/trading-platform/') Trading platform
	section(id='about', class='section')
		.container.contentViewport
			.row.content-entry.text-justify
				h1 Account types
				hr.blue
				p  
				.table-responsive
					table.table-responsive.account-types.table
						thead
							tr
								th.n_border
								th.purple(style='width: 25%;')  MICRO 
								th.blue(style='width: 25%;')  CLASSIC 
								th.purple(style='width: 25%;')  PRO 
								th.purple(style='width: 25%;')  CRYPTO
						tbody
							tr
								td  Min deposit
								td  $1
								td $50
								td $1000
								td $10
							tr
								td  Leverage
								td  1:1000
								td 1:500
								td 1:100
								td 1:3
							tr
								td  Spread from
								td 3.0 pips
								td 3.0 pips
								td 0.05 pips
								td 5 pips
							tr
								td  Commission
								td $0
								td $0
								td $100 per million
								td 0.15% 
							tr
								td  Instruments
								td(colspan='4')
									a.green-link(href='http://atiora.com/trade/trading-instruments/', target='_blank') 96 FX pairs, CFDs, metals, commodities, indices, stocks, crypto 
							tr
								td Execution
								td STP
								td STP
								td STP
								td STP
							tr
								td  Minimal Lot
								td 0.01
								td 0.01
								td 0.1
								td 0.01
							tr
								td  Hedging
								td
									i.fa.fa-check
								td
									i.fa.fa-check
								td
									i.fa.fa-check
								td
									i.fa.fa-check
							tr
								td  Scalping
								td
									i.fa.fa-check
								td
									i.fa.fa-check
								td
									i.fa.fa-check
								td
									i.fa.fa-check
							tr
								td  News trading
								td
									i.fa.fa-check
								td
									i.fa.fa-check
								td
									i.fa.fa-check
								td
									i.fa.fa-check
							tr
								td  EA allowed
								td
									i.fa.fa-check
								td
									i.fa.fa-check
								td
									i.fa.fa-check
								td
									i.fa.fa-check
							tr
								td  FIX API
								td –
								td yes (min. depo $5,000)
								td yes (min. depo $50,000)
								td –
							tr
								td Stop out level
								td 50%
								td 50%
								td 75%
								td 30%
							tr
								td Margin call
								td 100%
								td 75%
								td 100%
								td 50%
							tr
								td  Atiora Reward Program
								td
									a.green-link(href='http://atiora.com/atiora-reward/', target='_blank') Starter Level
								td
									a.green-link(href='http://atiora.com/atiora-reward/', target='_blank') Starter Level
								td
									a.green-link(href='http://atiora.com/atiora-reward/', target='_blank') Starter Level
								td
									a.green-link(href='http://atiora.com/atiora-reward/', target='_blank') Starter Level
							tr
								td  One-Click Trading
								td
									a(href='http://atiora.com/trade/oneclick-execution/', target='_blank')
										i.fa.fa-check
								td
									a(href='http://atiora.com/trade/oneclick-execution/', target='_blank')
										i.fa.fa-check
								td
									a(href='http://atiora.com/trade/oneclick-execution/', target='_blank')
										i.fa.fa-check
								td
									a(href='http://atiora.com/trade/oneclick-execution/', target='_blank')
										i.fa.fa-check
							tr
								td.n_border  
								td.open-account
									noindex
										a(href='https://my.atiora.com/main/register', rel='nofollow')  Open Account 
								td.open-account
									noindex
										a(href='https://my.atiora.com/main/register', rel='nofollow')  Open Account 
								td.open-account
									noindex
										a(href='https://my.atiora.com/main/register', rel='nofollow')  Open Account 
								td.open-account
									noindex
										a(href='https://my.atiora.com/main/register', rel='nofollow')  Open Account 
