extends ../../layouts/atiora

block content
	section(id='advantages', class='section')
		.container.contentViewport
			.row.content-entry.text-justify
				h2 Safety of Funds
				.col-md-12.clearfix
					h1 Advantages of ECN Forex broker ATIORA 
					hr.blue
					p
						| Atiora is a company that provides its clients with fully transparent Forex trading conditions. Cooperating with us excludes any conflicts of interest and offers you high quality trading services and access to Tier-1 bank liquidity.
					p
						| ECN Forex broker Atiora is a unique phenomenon in the foreign exchange market. Its numerous advantages allow the company to stand out from the crowd of competitors.
			.row
				.col-md-4.segregated_block
					#accordion(role='tablist')
						.card
							#headingOne.card-header(role='tab')
								h5.mb-0
									a(data-toggle='collapse', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
										| True ECN Broker
							#collapseOne.collapse(role='tabpanel', aria-labelledby='headingOne', data-parent='#accordion')
								.card-body
									| We offer 
									a(class='green-link', href='#') modern 
									| ECN system, which will allow you to choose the best quotes and will not to let you know what is “requote” and the delay in execution.
						.card
							#headingTwo.card-header(role='tab')
								h5.mb-0
									a.collapsed(data-toggle='collapse', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
										| Tight Spread From 0.05 pips
							#collapseTwo.collapse(role='tabpanel', aria-labelledby='headingTwo', data-parent='#accordion')
								.card-body
									| Spread depends on the situation on the world market. Our task is the preservation of it at the lowest possible level. Through trading technology from Atiora and liquidity providers, we can offer competitive spreads, which at the moment фе the best liquidity can be expected at the level of 0.05 points. All this is done with care and only in the interests of the client.
						.card
							#headingThree.card-header(role='tab')
								h5.mb-0
									a.collapsed(data-toggle='collapse', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
										| Rapid execution with no re-quotes
							#collapseThree.collapse(role='tabpanel', aria-labelledby='headingThree', data-parent='#accordion')
								.card-body
									| Execution of the transaction is less than 0.1 seconds. You only need to open and close the transaction by setting the necessary parameters.
						.card
							#headingFour.card-header(role='tab')
								h5.mb-0
									a.collapsed(data-toggle='collapse', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
										| A wide range of trading instruments
							#collapseFour.collapse(role='tabpanel', aria-labelledby='headingFour', data-parent='#accordion')
								.card-body
									| Atiora offers a good selection of tools for trading in Forex, which will appeal to newbie and do not leave indifferent the guru of online Forex trading.
				.col-md-4.segregated_block
					#accordion(role='tablist')
						.card
							#headingOne2.card-header(role='tab')
								h5.mb-0
									a(data-toggle='collapse', href='#collapseOne2', aria-expanded='true', aria-controls='collapseOne2')
										| Negative Balance Protection
							#collapseOne2.collapse(role='tabpanel', aria-labelledby='headingOne2', data-parent='#accordion')
								.card-body
									| For feeling safe trade, we offer you protection from the negative balance. This feature gives you the option of closing your transactions in order to protect your account from reaching a negative balance.
						.card
							#headingTwo2.card-header(role='tab')
								h5.mb-0
									a.collapsed(data-toggle='collapse', href='#collapseTwo2', aria-expanded='false', aria-controls='collapseTwo2')
										| 24 Hour multi-language support
							#collapseTwo2.collapse(role='tabpanel', aria-labelledby='headingTwo2', data-parent='#accordion')
								.card-body
									| The company’s specialists are ready to answer any question 24 around the clock and 6 days a week. As an international company, Atiora constantly increasing staff customer service, striving to provide assistance in any language, no matter where our customer said.
						.card
							#headingThree2.card-header(role='tab')
								h5.mb-0
									a.collapsed(data-toggle='collapse', href='#collapseThree2', aria-expanded='false', aria-controls='collapseThree2')
										| Swap Free Accounts
							#collapseThree2.collapse(role='tabpanel', aria-labelledby='headingThree2', data-parent='#accordion')
								.card-body
									| Like trading without swaps? Enjoy 
									a(class='green-link', href='#') Islamic (swap-free) 
									| accounts. Atiora customer-oriented Forex broker and are ready to offer flexible terms of trade.
						.card
							#headingFour2.card-header(role='tab')
								h5.mb-0
									a.collapsed(data-toggle='collapse', href='#collapseFour2', aria-expanded='false', aria-controls='collapseFour2')
										| Flexible conditions of forex trading
							#collapseFour2.collapse(role='tabpanel', aria-labelledby='headingFour2', data-parent='#accordion')
								.card-body
									| Did not find the appropriate type of account for trading? Please 
									a(class='green-link', href='#') contact us 
									| and Atiora specialists will select the best option for you. Our motto – the customer comes first!
				.col-md-4.segregated_block
					#accordion(role='tablist')
						.card
							#headingOne3.card-header(role='tab')
								h5.mb-0
									a(data-toggle='collapse', href='#collapseOne3', aria-expanded='true', aria-controls='collapseOne')
										| Personal manager
							#collapseOne3.collapse(role='tabpanel', aria-labelledby='headingOne3', data-parent='#accordion')
								.card-body
									| Accustomed to invest and not spend personal time to trade – then we will give you
									a(class='green-link', href='#') personal trader
									| , which will make the Forex trading for you. You will only distribute profits.
						.card
							#headingTwo3.card-header(role='tab')
								h5.mb-0
									a.collapsed(data-toggle='collapse', href='#collapseTwo3', aria-expanded='false', aria-controls='collapseTwo3')
										| Funds security on clients accounts
							#collapseTwo3.collapse(role='tabpanel', aria-labelledby='headingTwo3', data-parent='#accordion')
								.card-body
									| Safety of customer funds is the most important task for us. We make every effort to protect customer funds, keep them in safe banks and financial companies. Atiora placing client funds in segregated trust accounts in European banks. Reliable protection and security is part of our thinking from the very beginning. We strictly adhere to this policy, to be able to fulfil any request withdrawals at any time. With us, your money in 
									a(class='green-link', href='#') security .
						.card
							#headingThree3.card-header(role='tab')
								h5.mb-0
									a.collapsed(data-toggle='collapse', href='#collapseThree3', aria-expanded='false', aria-controls='collapseThree3')
										| Weekly & Monthly forex contests
							#collapseThree3.collapse(role='tabpanel', aria-labelledby='headingThree3', data-parent='#accordion')
								.card-body
									| Atiora holds 
									a(class='green-link', href='#') series of competitions 
									| on demo and live forex accounts. Big prizes, gadgets, cars and much more await our winners.
						.card
							#headingFour3.card-header(role='tab')
								h5.mb-0
									a.collapsed(data-toggle='collapse', href='#collapseFour3', aria-expanded='false', aria-controls='collapseFour3')
										| Atiora capital program
							#collapseFour3.collapse(role='tabpanel', aria-labelledby='headingFour3', data-parent='#accordion')
								.card-body
									| The program “ 
									a(class='green-link', href='#') Atiora Capital 
									| ” to convert your investments in high-yield source of profit.
			.row.text-justify
				.col-md-12
					p 
						| The future of the Forex market are belong to STP Forex Broker ATIORA, since we are in step with the times and offer the latest technology for trading at Forex to meet the needs of today’s traders, who are becoming more and more complex and demanding. Customers are our best motivation for further development. Everything we do – we do it to your advantage!


