extends ../../layouts/atiora

block content
	section(id='relugation', class='section')
		.container.contentViewport
			.row.content-entry.text-justify
				h1 API Trading
				hr.blue
				p(style="color: #146bd8; font-size: 19px; line-height: 26px; font-weight: normal; margin: 0 0 20px 0; padding: 0 0 20px 0; font-family: 'titillium_webregular',serif; border-bottom: 2px solid #b4b4b4;") ATIORA fully supports automated trading execution trading via our API.
				p
					| For our traders who are accustomed to trade using automatic API system or traders who have developed their own trading strategies using API technology we are happy to provide everything you need to trade with Forex ECN-broker ATIORA was the most convenient and efficient. With our API technology you will have access to a stream of pure liquidity pool of 22 international banks.
				p
					| As API trader we fully understand that you use unique technologies from ATIORA. One of the advantages of becoming ATIORA API trader – to gain access to a stream of pure liquidity and the maximum depth of the market, segregated account for API traders. ATIORA current account holders with a trading volume of $ 2,000 per month can request FIX Demo environment to test for FIX API accounts.
				p
					i.icon.icon-envelope  
				blockquote
					p
						| To find out more please email – 
						a(class='green-link', href='mailto:institutional@atiora.com') institutional@atiora.com