extends ../../layouts/atiora

block content
	section(id='about', class='section')
		.container.contentViewport
			.row.content-entry.text-justify
				.col-md-12
					h1 Reward Program by Atiora
						hr.blue
						p
							| «
							strong Atiora Reward Program
							| » – this is our way to give you gifts and bonuses! Are you trading Forex with Atiora? Then you are already in a rewards program!
						p(style='text-align: center;')
							strong
								| Trade on Forex, earn points, change them for gifts and prizes. Lucky trades to you!
			.row.content-entry.text-justify
				.col-md-12
					ul#contestsTab.nav.nav-tabs
						li.active
							a(href='#how-it-works', data-toggle='tab', target='_top') How it works?
						li
							a(href='#advantages', data-toggle='tab', target='_top') Benefits of Reward Program
						li
							a(href='#catalog', data-toggle='tab', target='_top') Catalogue of presents
					#contestsTabcontent.tab-content
						#how-it-works.tab-pane.fade.active.in
							.content_tab
								h3(style='color: #FF9900;') How Atiora Reward Program work?
								p
								h4 What you need to do to get gifts from Atiora? Nothing – just trade with Atiora!
								p
									| Just trade with Atiora, no further action do do not need to. No matter what is your deposit or how active your trading: every time you make Forex deal you are credited with some bonus points to your account. Number of points depends on several factors, but mainly from what is financial instrument you used to trade at Forex.
								p
									| For example, when you are trading at EURUSD for 1 lot will give you 20 points, BUY/SELL of oil will give you 10 points and etc. More information about the calculations can be found in the table of points cost.
								p(style='text-align: center;')
									strong
										| In any case – for any deals with ECN forex broker Atiora, you will get reward points!
								p
									| Accumulated a lot points? Change it to a gifts in a Personal Cabinet! Just leave a request to receive the prize or add chosen to cart and one of our managers will contact you for further details. You can always track the amount of your loyalty points at Personal Cabinet on the following page.
								p(style='text-align: center;')
									span.atiora-violet
										strong
											| Trade on Forex with Atiora, and receive gifts in addition to the usual profit. We wish you successful trades – and stay with us!
								p
						#advantages.tab-pane.fade
							.content_tab
								h3(style='color: #FF9900;') Take advantage of Atiora Reward Program
								p
								p
									| The main advantage of Atiora Reward Program – valuable gifts and prizes. The Gifts which we have prepared for you! You do not need to pay anything for these prizes, you simply trading in Forex, make a profit and we give you a reward points!
								p
									| This Program is our way of saying thank you to loyal customers of ECN forex broker Atiora. We value and respect each client, we strive to provide you with the best conditions for cooperation. Personal approach, fair and transparent conditions of Forex trading – all this is the norm if you work with Atiora.
									// p
								p
									| However, we believe that your choice and loyalty deserve special thanks. That is why we launched the Reward Program that is why we give you gifts!
								p Do you still need advantages of Reward Program? Here they are:
								ul.orange-check
									li You get a really valuable prizes;
									li
										| You do not need to take any additional steps to receive gifts. Just make useful trades at Forex and the reward points will be credited to the special account;
									li
										| To take part in the program is very simple: start trading with Atiora broker and you will automatically become a member of «Atiora Reward Program».
								p
									strong
								p(style='text-align: center;')
									strong
										span.atiora-violet
											| Trade on Forex with Atiora, and receive gifts in addition to the usual profit. We wish you successful trades – and stay with us!
								strong
								p
									strong
							p
						#catalog.tab-pane.fade
							.content_tab
								h3(style='color: #FF9900;') Catalogue “Atiora Reward”
								p.mb_15
									| Have accumulated reward points of «Atiora Reward Program»? We are glad that you stay with us and we will help you with online trading at Forex for any further actions! And now we have prepared for you a few gifts – we hope that you will like it:
								p  
								.table-responsive
									table.tblstyle-02.table(width='95%')
										tbody
											tr
												td(width='15%')
													img(src='/images/Molanis-small.jpg', alt='Molanis Strategy Builder for MT4')
													p
													.btn_section
														noindex
															a(href='#', rel='nofollow', target='_top') Exchange to ARP points
												td#ctl05_ctl01_i_table_text_1
													| Molanis is considered the best graphic environment to create expert advisors and custom indicators for MetaTrader 4 and MetaTrader 5. No coding, programming or MQL knowledge is required. Molanis creates ready-to-use expert advisors, Forex signals and custom indicators using the leading edge MQL code generator. With Molanis you can build different strategies for MT4 and MT5. Get it now.
												td.center(width='25%')
													p  Cost: 
													p  Molanis Strategy Builder for MT4 – Standard – 700 points 
													p  Molanis Strategy Builder for MT4 – Pro – 1.500 points 
											tr
												td(width='30%', style='text-aligh: center')
													img(src='/images/VPS-small.jpg', alt='VPSForex.ru ECO X')
													p
													.btn_section
														noindex
															a(href='#', rel='nofollow', target='_top') Exchange to ARP points
												td
													| VPS stands for Virtual Private Server. Sometimes it is also referred to as Virtual Dedicated Server. With our Forex VPS, not only will you enjoy an isolated hosting environment great for safety and performance purposes, but also a server packed with all our special features. Our VPS is hosted in a secure, redundant data centre and optimised to maximise your trading potential. With our VPS you will be able to trade with MetaTrader 4 or 5 on a MAC PC.
												td(width='15%')
													p  Cost: 
													p  Virtual Servers for Forex Trading – ECO X – 40 points/month 
													p  Virtual Servers for Forex Trading – PRO X – 150 points/month 
											tr
												td(width='30%')
													img(src='https://my.atiora.com/images/adv/1463656444119.jpg', alt='10$ deposit', width='130', style='display: none !important;')
													p
													.btn_section
														noindex
															a(href='https://my.atiora.com/user/shop', rel='nofollow', target='_top') Exchange to ARP points
												td
													| You can get $ 10 to your trading account.
												td(width='15%')
													p  Cost: 
													p  100 points 
								p
									strong
								p(style='text-align: center;')
									strong
										span.atiora-violet
											| ECN forex broker Atiora: we give you gifts because you are trading with us! Stay with us!
								strong
								p
									strong
							p
						p


