extends ../../layouts/atiora

block content
  section(id='legal-agreement', class='section')
    .container.contentViewport
      .row.content-entry.text-justify
        .col-md-10.col-sm-12.n_float
          h2 Atiora Broker Legal Agreements
          hr.blue
          p
            | We consider transparency as a highly important factor in the communication with our traders, so we listed below an extensive summary with full details about our legal policies:
          ul.list-of-downloads
            li.clearfix
              p.pull-left Customer Agreement
              p.pull-right
                a.btn-default(href='http://atiora.com/documents/customer-agreement.pdf', target='_blank', alt='Customer Agreement ECN Forex broker Atiora', title='Customer Agreement ECN Forex broker Atiora') download
            li.clearfix
              p.pull-left Anti-money Laundering Policy
              p.pull-right
                a.btn-default(href='http://atiora.com/documents/AML.pdf', target='_blank', alt='Anti-money Laundering Policy ECN Forex broker Atiora', title='Anti-money Laundering Policy ECN Forex broker Atiora') download
            li.clearfix
              p.pull-left Risk Warning and Disclosure
              p.pull-right
                a.btn-default(href='http://atiora.com/documents/risk_warning.pdf', target='_blank', alt='Risk Warning and Disclosure ECN Forex broker Atiora', title='Risk Warning and Disclosure ECN Forex broker Atiora') download
            li.clearfix
              p.pull-left Privacy Policy
              p.pull-right
                a.btn-default(href='\
                http://atiora.com/documents/privacy.pdf', target='_blank', alt='Privacy Policy ECN Forex broker Atiora', title='Privacy Policy ECN Forex broker Atiora') download
            li.clearfix
              p.pull-left Partnership Agreemnet
              p.pull-right
                a.btn-default(href='http://atiora.com/documents/partnership_agreement.pdf', target='_blank', alt='Partnership Agreemnet ECN Forex broker Atiora', title='Partnership Agreemnet ECN Forex broker Atiora') download
            li.clearfix
              p.pull-left PAMM-accounts agreement
              p.pull-right
                a.btn-default(href='http://atiora.com/documents/PAMM-accounts-agreement-en.pdf', target='_blank', alt='Partnership Agreemnet ECN Forex broker Atiora', title='Partnership Agreemnet ECN Forex broker Atiora') download
