extends ../../layouts/atiora

block content
	section(id='regulation', class='section')
		.container.contentViewport
			.row.content-entry.text-justify
				h1 Forex Liquidity
				hr.blue
				.page_content
					p
						img.alignright.wp-image-2419.size-full(src='/images/liquidity-feature-3.jpg', alt='', width='500', height='300')
						| At Atiora we know that liquidity is ultimately important to all traders. It’s not just the spread but also the quality of execution. We pass 100% of trades through to our liquidity partners, which are 10 of the top FX banks in the world. In return they return us consistently tight prices and enable us to have a market leading reject rate of less than 1%. The ATIORA’s DMA model enables institutional traders to trade anonymously on aggregated streaming quotes from leading market maker banks. By ensuring DMA trade flows from position and other non-high frequency traders, Atiora’ platforms are priced more robustly than other anonymous multibank trading venues including ECNs. Forex broker Atiora also provides 
						strong Fox – Full Order eXecution
						|  block trading executions.
						a(title='Learn more about this unique block execution facility.', href='/company/liquidity/fox/') Learn more about this unique block execution facility.
					p  
					hr
					.portal-links
						.su-row
							.col-md-4.col-sm-4
								.su-column-inner.su-clearfix
									h3
										a(title='Bank Partners', href='/company/liquidity/liquidity-providers') Liquidity Providers
									p(class='text-center')
										img(style='float: left;', src='http://atiora.com/wp-content/uploads/2015/10/lp.jpg', alt='Liquidity providers', width='100')
										| Our bank liquidity providers and prime brokers have partnered with us to provide innovative liquidity and credit solutions not available elsewhere.
										br
										a(title='Learn More', href='/company/liquidity/liquidity-providers', class='btn btn-primary') Learn More
							.col-md-4.col-sm-4
								.su-column-inner.su-clearfix
									h3
										a(title='FOX', href='/company/liquidity/fox/') FOX
									p(class='text-center')
										img(style='float: left;', src='http://atiora.com/wp-content/uploads/2015/10/fox.png', alt='Fox – Full Order eXecution', width='100')
										| Trade on a true block execution mechanism with no pre or post-trade information leakage and virtually no market impact.
										br
										a(title='Learn More', href='/company/liquidity/fox/', class='btn btn-primary') Learn More
							.col-md-4.col-sm-4
								.su-column-inner.su-clearfix
									h3
										a(title='Depth of Markets', href='/company/liquidity/depth-market/') Depth of Markets
									p(class='text-center')
										img(style='float: left;', src='http://atiora.com/wp-content/uploads/2015/10/depth2.png', alt='Depth of Markets', width='100')
										| See full depth of book, which is typically more than 200 million deep in EUR/USD.
										br
										a(title='Learn More', href='/company/liquidity/depth-market/', class='btn btn-primary') Learn More
	section(id='reg-button', class='section')
		.container.contentViewport
			.row.content-entry.text-center
				p Start trading through STP technology with ECN broker Atiora today!
				.btn_section.live-account
					noindex
						a.btn-live-acc(href='https://my.atiora.com/en/main/register', rel='nofollow')
							| Open trading account 
							i.fa.fa-chevron-right
				.btn_section
					a.btn-demo-acc(href='http://atiora.com/en/demo-download/')
						| Demo account 
						i.fa.fa-chevron-right
				div(style='margin-top: 20px;')
					a(class='green-link', href='https://download.mql5.com/cdn/web/atiora.limited/mt4/atiora4setup.exe', alt='Download Atiora MetaTrader 4', titlte='Download Atiora MetaTrader 4') Download MetaTrader 4