extends ../../layouts/atiora

block content
	section(id='relugation', class='section')
		.container.contentViewport
			.row.content-entry.text-justify
				<h1>Regulations and Forex registrars</h1>
				<hr class="blue">
				<p style="padding-top: 15px;">The website «<strong>atiora.com</strong>» belongs to the company <strong>Atiora Ltd</strong>. that is registered as <strong>International Business Company (IBC)</strong> in ST. Vincent and the Grenadines, Central America under the number <em><strong>22938 IBC 2015</strong></em>. The company’s registered address: Suite 305, Griffith Corporate Centre, Beachmont, Kingstown, St. Vincent and the Grenadines.</p>
				<p>
	section(id='reg-button', class='section')
		.container.contentViewport
			.row.content-entry.text-center
				p Start trading through STP technology with ECN broker Atiora today!
				.btn_section.live-account
					noindex
						a.btn-live-acc(href='https://my.atiora.com/en/main/register', rel='nofollow')
							| Open trading account 
							i.fa.fa-chevron-right
				.btn_section
					a.btn-demo-acc(href='http://atiora.com/en/demo-download/')
						| Demo account 
						i.fa.fa-chevron-right
				div(style='margin-top: 20px;')
					a(class='green-link', href='https://download.mql5.com/cdn/web/atiora.limited/mt4/atiora4setup.exe', alt='Download Atiora MetaTrader 4', titlte='Download Atiora MetaTrader 4') Download MetaTrader 4